<div class="modBoxC">
  <div class="titleBox">
    icon Informacion del paciente
  </div>
  <div class="cardBoxC">
    <form class="formBoxC" [formGroup]="registroPaciente" (ngSubmit)="endRegistro()">
      <div class="inputsBoxC">
        <div class="formContentC">
          <div class="columnasInputsC">
            <div>
              <div class="formInputC">
                <label for="">Nombre del paciente*</label>
                <input class="lInputC" type="text" formControlName="name" name="name" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.name.errors?.required && (fPaciente.name.touched || fPaciente.name.dirty)">
                Por favor ingrese el nombre del paciente
              </div>
              <div class="formInputC">
                <label for="">Nombre de los familiares*</label>
                <input class="lInputC" type="text" formControlName="parentsNames" name="parentsNames" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.parentsNames.errors?.required && (fPaciente.parentsNames.touched || fPaciente.parentsNames.dirty)">
                Por favor ingrese el nombre de los parientes del paciente
              </div>
              <div class="formInputC">
                <label for="">Género</label>
                <select class="lInputC" formControlName="gender">
                  <option value="Masculino" selected="true">
                    Masculino
                  </option>
                  <option value="Femenino">Femenino</option>
                </select>
              </div>
              <div class="formInputC">
                <label for="">Edad del paciente*</label>
                <input class="lInputC" type="number" formControlName="age" name="age" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.age.errors?.required && (fPaciente.age.touched || fPaciente.age.dirty)">
                Por favor ingrese la edad del paciente
              </div>
              <div class="formInputC">
                <label for="">Ocupaciòn*</label>
                <input class="lInputC" type="text" formControlName="occupation" name="occupation" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.occupation.errors?.required && (fPaciente.occupation.touched || fPaciente.occupation.dirty)">
                Por favor ingrese una ocupacion
              </div>
            </div>
            <div>
              <div class="formInputC">
                <label for="">Direcciòn*</label>
                <textarea class="lInputC" rows="5" cols="50" formControlName="address" name="address"></textarea>
              </div>
              <div class="errorTagC" *ngIf="fPaciente.address.errors?.required && (fPaciente.address.touched || fPaciente.address.dirty)">
                Por favor ingrese una dirección
              </div>
              <div class="formInputC">
                <label for="">Número de contacto*</label>
                <input class="lInputC" type="text" formControlName="contact" name="contact" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.contact.errors?.required && (fPaciente.contact.touched || fPaciente.contact.dirty)">
                Por favor ingrese el número de contacto del paciente
              </div>
              <div class="formInputC">
                <label for="">Referencia*</label>
                <input class="lInputC" type="text" formControlName="reference" name="reference" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.reference.errors?.required && (fPaciente.reference.touched || fPaciente.reference.dirty)">
                Por favor ingrese la referencia del paciente
              </div>
              <div class="formInputC">
                <label for="">Fecha*</label>
                <input class="lInputC" type="date" formControlName="date" name="date" />
              </div>
              <div class="errorTagC" *ngIf="fPaciente.date.errors?.required && (fPaciente.date.touched || fPaciente.date.dirty)">
                Por favor ingrese la fecha de ingreso del paciente
              </div>
            </div>
          </div>   
        </div>
        <div class="formContentC">
          <div class="formInputC">
            <label for="nuestroinput" id="nuestroinput">Imagen*</label>
            <input class="file" id="nuestroinput" type="file"  name="img" /> <!-- formControlName="img" -->
            <p>Nota: Esta imagen tal vez pueda aparecer distorcionada en la pantalla.</p>
          </div>
        </div>
      </div>
      <div class="filaButton">
        <button type="submit" class="buttonBoxC">
          <p>Registrar</p>
        </button>
        <button class="buttonBoxC" style="margin: 0px 10px">
          <p>Reset</p>
        </button>
        <button class="buttonBoxC">
          <p>Cerrar</p>
        </button>
      </div>
    </form>
  </div>

  <app-error class="errorBox" [msg]="errorMsg" [ngClass]="showError" (closeError)="closeError()"></app-error>
</div>