<nav id="cisNav" class="navBox">
    <ul class="navList">
        <div class="listMenuBox" *ngFor="let item of myMenu;">
            <li [id]="item.id" class="navElement opt" (click)="tMenu($event, item)">
                <a>
                    <fa-icon [icon]="item.icon" class="menuIcon"></fa-icon>{{item.name}}
                </a>
            </li>
            <ul class="navList">
                <div class="lBox" [ngClass]="item.class" *ngFor="let child of item.childs;">
                    <li [id]=" child.id " class="navChild ">
                        <a [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} "
                            [routerLink]="child.link ">
                            {{child.name}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </ul>
</nav>