/* You can add global styles to this file, and also import other style files */
$primary: #347fc4; //rgb(52,127,196);
$secondary: #31e981;
$border-input: #347fc4;
$third: #161925;
$font1: "Roboto", sans-serif;
$font2: "Open Sans", sans-serif;
$font3: "Montserrat", sans-serif;
$row-color-header: $third;
$row-color-one: #fff;
$row-color-secondary: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font1;
}

.formHeader {
  height: 12vh;
  width: 100%;
  color: white;
  text-align: center;
}

.modBox {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttonBox {
  width: 180px;
  height: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

.cardBox {
  width: 95%;
  height: 90vh;
  margin: auto;
  position: relative;
}

.formInput select {
  background-color: white;
}

/*.blackBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: height 0.2s ease-out;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
  border: none;
}*/

.formAct {
  height: auto;
}

.blackAct {
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
}

.closeButton .closeB {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2000;
  color: red;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.closeButton .closeB:hover {
  background-color: red;
  color: white;
}

.errorBox {
  display: none;
  height: 0;
}

.errorAct {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.confirmBox {
  display: none;
  height: 0;
}

.confirmAct {
  display: block;
  width: 100%;
  height: 100%;
}

.listBox {
  width: 100%;
}

.titleRow {
  white-space: nowrap;
  height: 23px;
  line-height: 23px;
}

.titleRow p {
  display: inline-block;
  text-align: center;
  color: white;
  width: 200px;
  background-color: #0084b6;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}

.contentRow {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.contentRow div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  color: #0084b6;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #0084b6;
  font-size: 12px;
  margin: 0;
  white-space: normal;
  font-weight: bold;
  width: 200px;
}

.contentRow div p {
  width: 100%;
  margin: 0;
}

.actionBox {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.actionButton {
  height: 30px;
  width: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faIcon {
  margin: 10px 12px;
  cursor: pointer;
  font-size: 10px;
}

.actionButton:active {
  background-color: white;
  border: none;
}

.actionButton p {
  color: $third !important;
  margin: 0;
  font-size: 10px !important;
  border: none !important;
  background-color: transparent !important;
  font-weight: bold;
  min-width: 10px !important;
  width: 100% !important;
  text-decoration: none !important;
}

.actionButton:active p {
  color: #0084b6;
}

.listTitle {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #0084b6;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 12px;
  margin: 0;
  font-weight: bold;

  width: 200px;
  flex-basis: 100%;
}

.listButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.listButton #closeB {
  background: transparent;
  color: red;
  font-weight: bold;
  margin-right: 10px;
  width: 27px;
  height: 27px;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #updateB {
  background: transparent;
  width: 23px;
  height: 23px;
  border: 2px solid grey;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #closeB:hover {
  background-color: red;
  color: white;
}

.modChild {
  width: 100%;
}

.classtable {
  width: 100%;

  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
}

.classtable2 {
  width: 50%;
  margin: auto;

  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
}

.classthead {
  width: 100%;
  border-bottom: 0.5px solid #161925b6;
  //background-color: #161925;
}

.classthead .classtr {
  width: 100%;
  margin: auto;
}

.classthead .classtr2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.classthead th:nth-child(1) {
  width: 120px;
}

.classthead .classtr {
  background-color: $row-color-header;
}

.classtbody .classtr:nth-child(odd) {
  background-color: $row-color-one;
}

.classtbody .classtr:nth-child(even) {
  background-color: $row-color-secondary;
}

.classthead .classth {
  width: 90px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.classth2 {
  width: 250px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.classtbody .classtr {
  transition: all 0.3s ease;
  cursor: default;
}

.classtbody .classtr:hover {
  background-color: rgba(22, 25, 37, 0.096);
}

.classtbody .classtd {
  text-align: center;

  padding-top: 10px;
  font-size: 14px;
}

.classtd2 {
  width: 180px;
  text-align: center;

  padding-top: 10px;
  font-size: 14px;
}

.btnBox {
  width: 100%;
}

.btn-details {
  width: 120px;
  margin: auto;
  padding-top: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-details-btnhd {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************* Formularios ********************************/

.formBox {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContent {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 12px;
  color: #161925;
  border-radius: 5px;
}

.formInput {
  width: 100%;
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px 19px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);

  & input,
  select,
  textarea {
    width: 60%;
    font-size: 0.9em;
    padding: 5px;
  }
}

.formInput label {
  white-space: nowrap;
  margin-right: 23px;
  width: 35%;
  font-size: 13px;
  font-family: $font3;
}

.errorTag {
  text-align: end;
  padding-right: 21px;
  font-size: 12px;
  font-weight: 400;
}

/***************************CONFIRMATION BOX***************************/

.confirmHeader {
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-color: $third;
  margin: auto;
  text-align: center;
  font-family: $font3;
  font-weight: bold;
}

.confirmContent {
  width: 500px;
  font-size: 15px;
  color: black;
  margin: 42px 0px;
  text-align: center;
}

.confirm.formButton {
  color: white;
  background-color: green;
  border-color: green;
  width: 31%;
}

.confirm.formButton:hover {
  color: green;
  background-color: white;
}

.confirm.formButton:active {
  color: green;
  background-color: white;
}

.confirm.formButton p {
  color: white;
}

.confirm.formButton:hover p {
  color: green;
}

.goback.formButton {
  color: white;
  background-color: red;
  border-color: red;
  width: 31%;
}
.goback.formButton:hover {
  color: red;
  background-color: white;
}
.goback.formButton:active {
  color: red;
  background-color: white;
}
.goback.formButton p {
  color: white;
}
.goback.formButton:hover p {
  color: red;
}

.confirmButtons {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;
  margin: auto;
}

.logBox {
  background-color: #ffffff;
  border-radius: 3px;
  max-height: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logBox2 {
  background-color: #ffffff;
  border-radius: 3px;
  max-height: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
}
