<div class="modBoxC">
    <div class="titleBox">
      <h4>icon Vauches</h4>
      <button class="buttonBoxC" (click)="agregar()">
        {{ addText }}
      </button>
    </div>
    <!-- <div> Div para los inputs de busqueda
      
    </div> -->
    <div class="cardBox" *ngIf="!isEmpty">
      <div class="listBox">
        <table class="classtable" style="overflow: scroll;">
          <thead class="classthead">
            <tr class="classtr">
              <th class="classth" scope="col">
                <!-- Acciones -->
              </th>
              <th class="classth" scope="col" *ngFor="let field of fields">{{ field }}</th>
            </tr>
          </thead>
          <tbody class="classtbody">
            <tr class="classtr" *ngFor="let value of values; let i = index">
              <div class="btn-details">
                <!--               <fa-icon style="color: grey" class="faIcon" [icon]="faEye" size="2x" (click)="verDetalle($event, i)">
                  </fa-icon> -->
                <!-- <fa-icon style="color: grey" class="faIcon" [icon]="faEdit" size="2x" (click)="openUpdate($event, i)">
                </fa-icon> -->
                <!--               <fa-icon style="color: red; stroke: black" class="faIcon" [icon]="faPdf" size="2x"
                    (click)="generatePdf($event, i)"></fa-icon> -->
                <!-- <fa-icon style="color: red" class="faIcon" [icon]="faTrash" size="2x" (click)="confirmDelete($event, i)">
                </fa-icon> -->
              </div>
  
              <td class="classtd" *ngFor="let item of value">
                <p>{{ item }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="filaButton">
      <div style="margin: 0 10px; font-size: 12px;">
        n item encontrados
      </div>
      <div>
        <button class="buttonBoxC">
          <p>ACTUALIZAR</p>
        </button>
        <button class="buttonBoxC">
          <p>CERRAR</p>
        </button>
      </div>
    </div>
    <div class="cardBox" *ngIf="isEmpty">
      <p>No hay elementos para mostrar</p>
    </div>
  </div>
  
  
  
  <!--   <app-error class="errorBox" [msg]='errorMsg' [ngClass]="showError" (closeError)="closeError()"></app-error>
     -->
  <div class="confirmBox" [ngClass]="showConfirm">
    <div class="blackBox" (click)="closeConfirm()"></div>
    <div class="logBox2">
      <p class="confirmHeader">CONFIRMACIÓN</p>
      <p class="confirmContent">Segro que quiere eliminar este elemento</p>
      <div class="confirmButtons">
        <button type="button" class="confirm buttonBox" (click)="deleteItem($event, deletedItem)">
          <p>SÍ</p>
        </button>
        <button type="button" class="goback buttonBox" (click)="closeConfirm()">
          <p>NO</p>
        </button>
      </div>
    </div>
  </div>